* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh; /* make the body fill the entire screen */
    background-color: #ffffff;
}

.sidebar {
    background-color: #183a59;
    width: 250px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.logo-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.logo-icon {
    background-color: #a60000;
    color: #ffffff;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger-icon {
    margin-left: auto;
    cursor: pointer;
    font-size: 1.25rem;
}

/* Search box */
.search-box {
    background-color: #0e2940;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border-radius: 4px;
    margin-bottom: 0.1rem;
}

.search-box i {
    margin-right: 10px;
}

.search-box input {
    background-color: transparent;
    color: #ffffff;
    width: 100%;
    border: none;
    outline: none;
}

/* Menu Section */
.section-title {
    font-size: 0.8rem;
    color: #9fb1c1;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;

}
.menu-section {
    padding: 1rem;
}

.menu-section.bottom {
    margin-top: auto;
}

.menu-section ul {
    list-style: none;
}

.menu-section ul li a {
    display: flex;
    align-items: center;
    padding: 0.6rem 0.8rem;
    gap: 10px;
    color: #e2eaf3;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
}

.menu-section ul li:hover {
    background-color: #28547a;
}

/* Main Content Area */
.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.topbar {
    display: flex;
    align-items: center;
    background-color: #183a59;
    height: 60px;
}

.user-profile {
    color: white;
    margin-left: auto;
    padding: 1rem;
    cursor: pointer;
}

.content {
    color: black;
}

.content-area {
    display: flex;
    background-color: rgb(231, 231, 231);
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    overflow-y: auto;
    position: relative;
}

/* Table display */
.table-content {
    background-color: #ffffff;
    width: 100%;
    max-width: 1600px; /* prevent it from stretching too far */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    overflow-x: auto;
}

/* Add button */
.action-button {
    background-color: #183a59;
    color: #ffffff;
    width: 100px;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #a60000;
  color: white;
}

/* Modal */
.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}


.modal {
    background-color: #ffffff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}


th, td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    white-space: nowrap;
} */