* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh; /* make the body fill the entire screen */
    background-color: #ffffff;
}

.sidebar {
    background-color: #183a59;
    width: 250px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.logo-icon {
    background-color: #a60000;
    color: #ffffff;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger-icon {
    margin-left: auto;
    cursor: pointer;
    font-size: 1.25rem;
}

/* Search box */
.search-box {
    background-color: #0e2940;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border-radius: 4px;
    margin-bottom: 0.1rem;
}

.search-box i {
    margin-right: 10px;
}

.search-box input {
    background-color: transparent;
    color: #ffffff;
    width: 100%;
    border: none;
    outline: none;
}

/* Menu Section */
.section-title {
    font-size: 0.8rem;
    color: #9fb1c1;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;

}
.menu-section {
    padding: 1rem;
}

.menu-section.bottom {
    margin-top: auto;
}

.menu-section ul {
    list-style: none;
}

.menu-section ul li a {
    display: flex;
    align-items: center;
    padding: 0.6rem 0.8rem;
    gap: 10px;
    color: #e2eaf3;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
}

.menu-section ul li:hover {
    background-color: #28547a;
}

/* Main Content Area */
.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.topbar {
    display: flex;
    align-items: center;
    background-color: #183a59;
    height: 60px;
}

.user-profile {
    color: white;
    margin-left: auto;
    padding: 1rem;
    cursor: pointer;
}

.content-area {
    background-color: gray;
}

.content {
    color: black;
}

