* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh; /* make the body fill the entire screen */
    background-color: #FFFFFF;
}

.sidebar {
    background-color: #183A59;
    width: 272px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-header {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 1rem;
    font-weight: bold;
}

.logo-icon {
    background-color: #A60000;
    color: #FFFFFF;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger-icon {
    margin-left: auto;
    cursor: pointer;
    font-size: 1.25rem;
}

