/* TOP BAR */
#top-bar {
    /* background: linear-gradient(180deg, rgba(0,0,0,0.8), rgba(0, 0, 0, 0.1)); */
    /* background: linear-gradient(90deg, #0a3d62, #3c6382); */
    background: red;
    color: black;
    /* font-size: 0.8vw; */
    font-size: 1.5vh;
    /* font-size: 1rem; */
    font-weight: bold;

    padding: 0 1vw;
    /* text-align: center; */
    /* margin: auto 0; */
    height: 5vh;
    display: flex;

    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#top-bar #location {
    display: flex;
    align-items: center;
}

#top-bar #nav-menu {
    /* background-color: #333; */
    /* overflow: hidden; */
    /* display: flex; */
    /* height: 100%; */
    /* margin: 0 auto; */
    /* margin-left: auto;
    margin-right: auto; */
    /* justify-content: center; */

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#top-bar #nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3vw;
    align-items: center;
}

#top-bar #nav-menu ul li a {
    text-decoration: none;
    display: block;
    padding: 0.7vh;
    height: 100%;
    color: black;
}

#top-bar #nav-menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#top-bar #login a {
    text-decoration: none;
    display: block;
    color: white;

    /* padding: 0.5vw 2vw; */
    padding: 1vh 3vh;
    border-radius: 9999px;
    background-color: black;

    transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
    /* transition: 0.2s linear; */
}

#top-bar #login a:hover {
    /* background-color: white;
    box-shadow: inset 0 0 0 0.2vw black;
    transition: linear 0.2s;
    color: black; */

    background-color: white;
    color: black;
    box-shadow: inset 0 0 0 0.15vw black;
}

/* LANDING CONTENT */
#landing-content {
    background: lightblue;
    height: 95vh;
}