/* TOP BAR */
#top-bar {
    /* background: linear-gradient(180deg, rgba(0,0,0,0.8), rgba(0, 0, 0, 0.1)); */
    /* background: linear-gradient(90deg, #0a3d62, #3c6382); */
    /* background: red; */
    
    backdrop-filter: blur(4px);

    color: black;
    /* font-size: 0.8vw; */
    font-size: 1.5vh;
    /* font-size: 1rem; */
    font-weight: bold;

    padding: 0 1vw;
    /* text-align: center; */
    /* margin: auto 0; */
    height: 5vh;
    display: flex;

    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#top-bar #location {
    display: flex;
    align-items: center;
}

#top-bar #nav-menu {
    /* background-color: #333; */
    /* overflow: hidden; */
    /* display: flex; */
    /* height: 100%; */
    /* margin: 0 auto; */
    /* margin-left: auto;
    margin-right: auto; */
    /* justify-content: center; */


    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#top-bar #nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3vw;
    align-items: center;
}

#top-bar #nav-menu ul li a {
    text-decoration: none;
    display: block;
    padding: 0.7vh;
    height: 100%;
    color: black;
}

#top-bar #nav-menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#top-bar #login a, .btn {
    text-decoration: none;
    display: block;
    color: white;

    /* padding: 0.5vw 2vw; */
    margin-right: 5vh;
    padding: 1vh 3vh;
    border-radius: 9999px;
    background-color: black;

    transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
    /* transition: 0.2s linear; */
}

#top-bar #login a:hover, .btn:hover {
    /* background-color: white;
    box-shadow: inset 0 0 0 0.2vw black;
    transition: linear 0.2s;
    color: black; */

    background-color: rgba(0,0,0,0);
    color: black;
    box-shadow: inset 0 0 0 0.15vw black;
}

/* LANDING CONTENT */
#landing-content {
    /* background: lightblue; */
    height: 100vh;
}

#landing-content h2 {
    font-size: 2vh;
    /* padding: 2vh 2vh 0 2vh; */

    position: absolute;
    top: 27vh;
    left: 5vh;
}

#landing-content p {
    font-weight: bold;;
    font-size: 12vh;
    /* padding: 1vh 2vh; */
    width: 70vh;

    position: absolute;
    top: 28vh;
    left: 5vh;
}

#landing-content .btn {
    font-weight: bold;
    font-size: 2vh;
    top: 70vh;
    position: absolute;
}

#landing-content .btn:first-of-type {
    left: 7vh;
}

#landing-content .btn:last-of-type {
    left: 27vh;
}

#landing-content img {
    position: absolute;
    right: 5vh;
    bottom: 7vh;
    height: 70vh;
    z-index: 1;
}

/* ABOUT & CONTACT INFO */
.info {
    padding: 5vh 20vh;
    background-color: #f5f6fa;
}

.info h2 {
    padding: 0 5vh;
    font-size: 3vh;
    text-align: left;
    margin-bottom: 4vh;
}

.info p {
    font-size: 2vh;
    line-height: 3vh;
    text-align: left;
    /* width: 60vh; */
}

/* #contact h2 {
    padding: 0 5vh;
    font-size: 3vh;
    text-align: right;
    margin-bottom: 4vh;
}

#contact.info p {
    font-size: 2vh;
    line-height: 3vh;
    text-align: right;
    width: 100%;
} */

/* FOOTER */
#footer {
    background-color: black;
    color: white;
    text-align: center;
    /* padding: 1vh 0; */
    /* font-size: 2vh; */
}