* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
}

.left-side {
    flex: 1;
    background: url("../img/login_page/Login-left.jpg") bottom / cover no-repeat;
    opacity: 0.4;
}

.right-side {
    flex: 1;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 120px;
    height: 120px;
    background: url("../img/login_page/Icon.png") center / cover no-repeat;
    border-radius: 50%;
    margin-bottom: 10px;
}

.tagline {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #444;
}

.login-box {
    width: 380px;
    background: #123456;
    padding: 35px;
    border-radius: 12px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.login-box h2 {
    margin-bottom: 8px;
    font-size: 28px;
    text-align: center;
}

.login-box p {
    font-size: 14px;
    margin-bottom: 25px;
    color: #b6b6b6;
    text-align: center;
}

.login-box label {
    font-size: 14px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 18px 0;
    border-radius: 6px;
    border: none;
    background: #dcdcdc;
    font-size: 14px;
}

/* Remember row */
.remember-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 20px;
}

.remember-row div {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

.remember-row div input[type="checkbox"] {
    margin: 0;
    transform: translateY(-1px);
}

.remember-row a {
    color: #dcdcdc;
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    background: #f05a24;
    color: white;
    padding: 12px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.footer-links {
    margin-top: 40px;
    font-size: 12px;
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #555;
    text-decoration: none;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* space for icon */
    /*height: 45px;*/
    box-sizing: border-box;
}

.password-container .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-65%);
    width: 24px;      /* scale down large PNG */
    height: 24px;
    cursor: pointer;
    display: block;   /* ensure visible */
}

