.sidebar {
    background-color: #183a59;
    color: white;
    width: 257px;
    padding: 15px 0 0 0;
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    z-index: 1;
    box-shadow: -4px 0 10px rgba(0,0,0,0.2);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 0.8rem;
    color: #9fb1c1;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-left: 27px;
}

.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    width: 100%;
}

.menu-link, .submenu-link {
    color: #e2eaf3;
    font-size: 1.1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px 27px;
    text-decoration: none;
    width: 100%;
    transition: background 0.2s;
}

.menu-link .fa-angle-right {
    margin-left: auto;
}

.menu-link span, .submenu-link span {
    font-weight: 400;
}

.menu-link:hover {
    background-color: #163047;
    color: #54e0f3;
}

.bottom {
    margin-top: auto;
}

.submenu-link  {
    padding-left: 59px;
}

.submenu-link:hover {
    background-color: #13293d;
    color: #4ab5c4;
}

