.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-out, visibility 0s 0.3s; 
    visibility: hidden; 
}

.modal-content {
    background-color: #fff;
    width: 500px;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transform: scale(0.95);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0; 
}

.modal-backdrop.is-active {
    opacity: 1;
    transition: opacity 0.3s ease-out, visibility 0s; 
    visibility: visible;
}

.modal-content.is-active {
    transform: scale(1);
    opacity: 1; 
}

.modal-header { 
    display: flex; 
    justify-content: 
    space-between; 
    align-items: center; 
    padding: 15px 20px; 
    border-bottom: 1px solid #eee; 
    background-color: var(--bg-navbar);
    color: var(--text-clr);
}

.modal-title { 
    margin: 0; 
    font-size: 1.1em; 
    font-weight: bold; 
}

.modal-body-container { 
    padding: 20px;
}

.close-btn { 
    cursor: pointer; 
    color: var(--text-clr); 
    background: none;
    border: none;
    padding: 2px;
    line-height: 1;
    border-radius: 2px;
}

.close-btn:hover { 
    background-color: var(--bg-menu-hover); 
}

.trip-details-grid, 
.vehicle-details-grid { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 15px 10px; 
}

.detail-item.full-width-item { 
    grid-column: span 2; 
}

.detail-label { 
    font-size: 0.9em; 
    color: #6e6e6e; 
    margin-bottom: 2px; 
    font-weight: 500;
}

.detail-value { 
    font-weight: bold; 
    color: #000000; 
    font-size: 1em; 
}

#modalStatus { 
    color: #007bff; 
}

.modal-footer { 
    padding-top: 20px; 
    border-top: 1px solid #eee; 
    text-align: right; 
    margin-top: 20px;
}

.close-btn-footer { 
    background-color: var(--bg-navbar); 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-weight: bold; 
}

.close-btn-footer:hover {
    background-color: #245685;
}

.delete-btn-action {
    background-color: var(--danger-clr); 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-weight: bold; 
}